@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,200&display=swap');

.header_menu{
    width:100%;
}

.left_screen{
    width:25%;
    float:left;
    text-align:left;
}
.right_screen{
    width:75%;
    float:left;
    text-align:right;
}
.clearfix{
    clear:both;
}
.left_screen img{
	width:500px;
	height:650px;
	margin-left:40px;
}
.inside-right {
    width: 80%;
    margin: 0 auto;
}
.left_screen .movie-details{
	margin-left:40px;
	font-family: 'Azeret Mono', monospace;
}
